body {
  background-color: #1d1d2e;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
  position: absolute;
  width: 800px;
  height: 500px;
  top: 50%;
  left: 40%;
  margin-top: -250px;
  margin-left: -250px;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}